* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;list-style: none;
    text-decoration: none;
}

body{
    background-color: #111D08;
}
header{
    display: flex;
    justify-content: space-between ;

}
.logo-container{
    width: 30%;
    height: 180px;
    display: flex;
    justify-content: center;
    
}
.logo-text {
    background-color: white;width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 8px;
    
    border-bottom-right-radius: 8px;
    color: black;
    font-weight: 1000;
    font-size: 1.5rem;
  
}
.logo{
    width: 60%;
    height: 55%;

}
.logo img{
       width: 100%;
    height: 100%;
}
.logo-text .tech {
    color: #cfff04; /* Lime Green Text for 'Tech' */
    background: #000;
 
    border-radius: 4px;
    margin-left: 2px;
}
nav{
        width: 40%;
    height: 100px;
  
    display: flex;
    align-items: end;

}
nav ul{
    display: flex;
 background: linear-gradient(180deg,  #4ebb2d 0%, #145700 100%);
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: space-around;
}
.about{
    background-color: yellow;
    width: 100%;
    height: 80vh;


}
.about-content{
    width: 100%;
    background-color: red;
    height: 40%;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.inner-text span , h3{
    font: 16px 'Ox';

}
